@import '../../styles/config';
@import '../../styles/utilities';

.NavBar {
	overflow: hidden;
	background: $dark-color;
	position: fixed;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	width: 100%;

	&-Menu {
		padding-right: 1rem;

		ul {
			display: flex;

			li {
				padding: 1rem 1.5rem;

				a {
					text-decoration: none;
					color: #fff;
					border-bottom: 3px transparent solid;
					padding-bottom: 0.5rem;
					transition: border-color 0.5s;

					span {
						color: $primary-color;
					}

					&:hover {
						border-color: $primary-color;
					}

					&.current {
						border-color: $spotify-color;
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.NavBar {
		padding: 1rem 0;

		svg.fa-spotify {
			display: none;
		}

		li {
			padding: 0;
		}
	}
}
